<h1>Submission Result Page</h1>
<p>Hello there!
<br/><br/>
We have received your sms parameters <br/>
and are preparing to send your text message!<br/><br/>
Stay tuned for your impending text!</p>

<body>
    <%= yield %>
    <p1><%= "Recipient: " + params[:num]%></p1>
    <p1><br/></p1>
    <p1><%= "Body: " + '"""' + params[:text] + '"""'%></p1>
</body>
